<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova Notificação de Resposta</title>
</head>
<body>
  <h1>Olá <%= name %>,</h1>
  <p>Uma nova resposta foi adicionada à sua pergunta no vídeo "<%= title %>".</p>
  <p>Faça o login em nosso site para descobrir a resposta e participar dessa interessante discussão!</p>
  <p>Obrigado por fazer parte da nossa comunidade!</p>
</body>
</html>
